* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
}

header {
  background-color: rgb(47, 50, 53); /* GRIS FINAL */
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: #e6e6e6;
  margin-top: 10px;
  margin-bottom: 10px;
}

article { /*Top 25 Cooking*/
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height: 300px;
}

article a { /*Links/Photo Labels*/
  font: 22px "Avenir", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #e6e6e6;
  font-size: 14px;
}

 #Me {
  width: 90%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

article { /*Roasted Duck Recipie*/
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height:
}

article { /* About me */
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height: 300px;
  img {
    border-radius: 50%;
  }

}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer { /* Footer */
  background-color: rgb(47, 50, 53);
  padding: 15px;
  text-align: center;
  color: #e6e6e6; /*
  margin-left: 25%;
  margin-right: 25%;
  position: bottom;
   left:0px;
   bottom:60px;*/
  height:85px;
  position: bottom;
}

.column {
  float: left;
  width: 70px;
  padding-left: 10px;
  padding-right: 10px;
  height:50px;
  float: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  height:10px;
}

.row {
  height: 50px;
  float: center;
  padding-left: auto;
  padding-right: auto;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

}

#ImList { /*NECESARIO*/
  height: 50px;
  width: 50px;
}

h3 {
  font-size: 24px;
  color: #e6e6e6;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

ul {
    padding-left: 0px;
}

li{
  clear: both;/*
  border-top: 1px solid #545454;*/
  padding-top: 15px;
  margin-top: 15px;
  list-style-type: none;
}
img{
  float: left;
  margin-top: -10px;
}

h4 {
  margin-left: 70px;
  display: block;
  margin-block-start: 1.33px;
  margin-block-end: 1.33em;
  margin-inline-end: 0px;
  margin-top: -5px;
}

.List p {
  margin-top: -20px;
  margin-left: 70px;
}

@media (max-width: 600px) { /* Makes boxea vertical on iPhone */
  nav, article {
    width: 100%;
    height: auto;
  }
}
