* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
}

header {
  background-color: rgb(47, 50, 53); /* GRIS FINAL */
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #e6e6e6;
}

p#Intro {
  text-align: center;
}

section#Me {
  float: left;
  padding: 10px; /* cambiar a % */
  height: 320px;
  width: 320px;
  margin: auto;
}

div#AboutMe {
  float: left;
  padding: 10px;/* cambiar a % */
  height: 280px;
  min-width: 320px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;

}

img#Me {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 10px; /* cambiar a % */
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 5%;
}

article { #h4s
  width: 33%;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height: auto;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer { /* Footer */
  background-color: rgb(47, 50, 53);
  padding: 15px;
  height:85px;
  position: bottom;
}

.column {
  float: left;
  width: 70px;
  padding-left: 10px;
  padding-right: 10px;
  height:50px;
  float: center;
}

/* Clear floats after image containers
.row::after {
  content: "";
  clear: both;
  display: table;
  height:10px;
}*/

.row {
  height: 50px;
  float: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

}

#ImList { /*NECESARIO*/
  height: 50px;
  width: 50px;
}

h3 {
  font-size: 24px;
  color: #e6e6e6;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

ul {
    padding-left: 0px;
}

li{
  border-top: 1px solid #545454;
  padding-top: 15px;
  list-style-type: none;
}

img{
  float: left;
  margin-top: -10px;
}

h4 {
  margin-left: 70px;
  margin-top: -7px;
}

.List p {
  margin-top: -20px;
  margin-left: 70px;
}

@media (max-width: 600px) { /* Makes boxea vertical on iPhone */
  section, div {
    width: 100%;
    height: auto;
  }
}
