* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
}

header {
  background-color: rgb(47, 50, 53); /* GRIS FINAL */
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: #e6e6e6;
}

article { /*Top 25 Cooking*/
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height: 300px;
}

article a { /*Links/Photo Labels*/
  font: 22px "Avenir", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #e6e6e6;
  font-size: 14px;
}

article { /*Roasted Duck Recipie*/
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height:
}

article { /* About me */
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
  height: 300px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer { /* Footer */
  background-color: rgb(47, 50, 53);
  padding: 15px;
  text-align: center;
  color: #e6e6e6;
  margin-left: 25%;
  margin-right: 25%;
  position: bottom; /*
   left:0px;
   bottom:60px;*/
  height:100px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding-left: 10px;
  height:100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  height:10px;
}

.row {
  heigh: 50px;
}

#bytes{
      margin-top: 100px;
      text-align: left;
      min-width: 200px;
      @media #{$size-medium}{
        width: 50%;
      }
      @media #{$size-small}{
        width: 100%;
        margin-top: 40px;
      }
      font-size: 12px;
      line-height: 1.4em;
      h3{
        font-size: 24px;
        color: #848484;
        font-weight: 400;
      }
      li{
        clear: both;
        border-top: 1px solid #D3CFC7;
        padding-top: 15px;
        margin-top: 15px;
      }
      img{
        float: left;
        margin-top: -10px;
      }
      h4{
        font-weight: 700;
        color: #4D4D4D;
        margin-left: 60px;
      }
      p{
        color: #7F7F7F;
        font-size: 12px;
        margin-left: 60px;
      }
    }

    body #body #bytes {
      margin-top: 100px;
      text-align: left;
      min-width: 200px;
      font-size: 12px;
      line-height: 1.4em; }
      @media only screen and (max-width: 860px) {
        body #body #bytes {
          width: 50%; } }
      @media only screen and (max-width: 490px) {
        body #body #bytes {
          width: 100%;
          margin-top: 40px; } }
      body #body #bytes h3 {
        font-size: 24px;
        color: #848484;
        font-weight: 400; }
      body #body #bytes li {
        clear: both;
        border-top: 1px solid #D3CFC7;
        padding-top: 15px;
        margin-top: 15px; }
      body #body #bytes img {
        float: left;
        margin-top: -10px; }
      body #body #bytes h4 {
        font-weight: 700;
        color: #4D4D4D;
        margin-left: 60px; }
      body #body #bytes p {
        color: #7F7F7F;
        font-size: 12px;
        margin-left: 60px; }

@media (max-width: 600px) { /* Makes boxea vertical on iPhone */
  nav, article {
    width: 100%;
    height: auto;
  }
}
